body {
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}

/* Montserrat regular */
@font-face {
    font-family: "MontserratRegular";
    src: url("./fonts/montserrat-regular-webfont.eot");
    src: url("./fonts/montserrat-regular-webfont.woff") format("woff"),
    url("./fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-regular-webfont.svg") format("svg");
}

/* Montserrat semi-bold */
@font-face {
    font-family: "MontserratSemiBold";
    src: url("./fonts/montserrat-semibold-webfont.eot");
    src: url("./fonts/montserrat-semibold-webfont.woff") format("woff"),
    url("./fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-semibold-webfont.svg") format("svg");
}

/* Montserrat bold */
@font-face {
    font-family: "MontserratBold";
    src: url("./fonts/montserrat-bold-webfont.eot");
    src: url("./fonts/montserrat-bold-webfont.woff") format("woff"),
    url("./fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-bold-webfont.svg") format("svg");
}

.container {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.menu>ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0 .5rem 0 .5rem;
    margin: .75rem 0 0 0;
}

.menu>ul>li {
    margin-left: auto;
    margin-right: auto;
}

#title-container {
    flex: 0.25;
    background-color: white;
}

header {
    flex: 0.25;
}

form {
    flex: 4;
    display: block;
    text-align: center;
}

form>ul {
    padding: 5% 0 0 0;
    margin: 0;
}

h1 {
    font-size: 1rem;
    text-align: center;
    margin: 0.4rem 0 0.2rem 0;
}

form>ul {
    list-style-type: none;
}

#add_maintenance_log_form>ul>li>label {
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

form>p>input {
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

input[type=text], input[type=number] {
    width: 50%;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

input[type=text]:focus, input[type=number]:focus {
    width: 250px;
}

