body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Montserrat regular */
@font-face {
    font-family: "MontserratRegular";
    src: url("./fonts/montserrat-regular-webfont.eot");
    src: url("./fonts/montserrat-regular-webfont.woff") format("woff"),
    url("./fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-regular-webfont.svg") format("svg");
}

/* Montserrat semi-bold */
@font-face {
    font-family: "MontserratSemiBold";
    src: url("./fonts/montserrat-semibold-webfont.eot");
    src: url("./fonts/montserrat-semibold-webfont.woff") format("woff"),
    url("./fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-semibold-webfont.svg") format("svg");
}

/* Montserrat bold */
@font-face {
    font-family: "MontserratBold";
    src: url("./fonts/montserrat-bold-webfont.eot");
    src: url("./fonts/montserrat-bold-webfont.woff") format("woff"),
    url("./fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-bold-webfont.svg") format("svg");
}

.container {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.menu>ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0 .5rem 0 .5rem;
    margin: .75rem 0 0 0;
}

.menu>ul>li {
    margin-left: auto;
    margin-right: auto;
}

#title-container {
    flex: 0.25;
    background-color: white;
}

header {
    flex: 0.25;
}

form {
    flex: 4;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #f5cb13;
    overflow: scroll;
    display: block;
    text-align: center;
}

form>ul {
    padding: 5% 0 0 0;
    margin: 0;
}

h1 {
    font-family: "MontserratBold", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem;
    text-align: center;
    margin: 0.4rem 0 0.2rem 0;
}

form>ul {
    list-style-type: none;
}

form>p>input {
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

input {
    width: 50%;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    text-align: center;
    border-radius: 5px;
}

input:focus {
    width: 250px;
}

input[type="submit"] {
    border: none;
}

label {
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

a {
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}


/* LOGO STYLING */
#logo_container {
    display: flex;
    flex: 1;
}

#logo {
    margin: 0 auto;
    padding-top: 18%;
    width: 50%;
    height: auto;
}


/* LOGIN PAGE STYLING */
#login_header {
    flex: none;
}

#login_form {
    flex: 5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login_header>h1 {
    display: none;
}

#login_form>ul {
    padding-top: 20%
}


/* SIGN UP PAGE STYLING */
#signup_header {
    flex: none;
}

#signup_form {
    flex: 5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#signup_form>ul {
    padding-top: 20%;
}


/* ADD VEHICLE PAGE STYLING */
#add_vehicle_form {
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;    
}

#add_vehicle_form>ul {
    padding-top: 25%;
    flex: 2;
}

#add_vehicle_form>p {
    flex: 1;
}