body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Montserrat regular */
@font-face {
    font-family: "MontserratRegular";
    src: url("./fonts/montserrat-regular-webfont.eot");
    src: url("./fonts/montserrat-regular-webfont.woff") format("woff"),
    url("./fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-regular-webfont.svg") format("svg");
}

/* Montserrat semi-bold */
@font-face {
    font-family: "MontserratSemiBold";
    src: url("./fonts/montserrat-semibold-webfont.eot");
    src: url("./fonts/montserrat-semibold-webfont.woff") format("woff"),
    url("./fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-semibold-webfont.svg") format("svg");
}

/* Montserrat bold */
@font-face {
    font-family: "MontserratBold";
    src: url("./fonts/montserrat-bold-webfont.eot");
    src: url("./fonts/montserrat-bold-webfont.woff") format("woff"),
    url("./fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-bold-webfont.svg") format("svg");
}

/* Container for all other elements */
.container {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

/* Menu container. Menu items reformatted to display as flex and inline */
.menu>ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0 .5rem 0 .5rem;
    margin: .75rem 0 0 0;
}

/* Menu list items evenly spaced across navigation */
.menu>ul>li {
    margin-left: auto;
    margin-right: auto;
}

/* Header container spacing and recolour */
#header {
    flex: 0.25;
    background-color: white;
}

/* Title container spacing and background colour */
#title-container {
    flex: 0.25;
    background-color: white;
}

/* Content container spacing, recolour and other formatting */
#content-container {
    flex: 4.5;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #f5cb13;
    overflow: scroll;
}

/* Footer container formatting for icon links and current selected vehicle */
#footer-container {
    flex: 0.5;
    display: flex;
    flex-flow: row nowrap;
    orientation: fixed;
}

/* Icon link spacing within footer container */
.icon-link {
    padding: 0.75rem;
}

/* Current selected vehicle info formatting */
.selected-vehicle-info {
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    margin: auto auto;
}

/* h1 formatting */
h1 {
    font-family: "MontserratBold", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem;
    text-align: center;
    margin: 0.4rem 0 0.2rem 0;
}

/* h2 formatting */
h2 {
    font-family: "MontserratSemiBold", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.1rem;
    text-align: center;
}

/* p formatting */
p {
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    padding: 0 5% 0 5%;
}

/* Icon sizing */
img#icon {
    max-width: 100%;
    height: auto;
}


/* TEXT DISPLAY IF NO LOGS ARE PRESENT */
.no-content {
    display: flex;
}

.no-content>p {
    margin: 0 auto;
    padding-top: 50%;
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}


/* GARAGE PAGE STYLING */
#garage-title-container {
    flex: 0.5;
}

#garage-title-container>h1 {
    font-family: "MontserratBold", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2.3rem;
    padding-top: 0.5%;
    text-transform: uppercase;
}

.garage-content {
    display: flex;
    padding-top: 10%;
}

.garage-content>form {
    margin: 0 auto;
    padding: 2% 5%;
    text-align: center;
    border: 0.16rem solid white;
    border-radius: 5px;
}

.garage-content>form>p {
    margin: 0;
    max-width: 13rem;
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
}

input {
    width: 13rem;
    border-radius: 5px;
    border: none;
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}


/* MAINTENANCE PAGE STYLING */
.maintenance-content {
    display: flex;
    padding-top: 10%;
}

.maintenance-content>p {
    margin: 0 15%;
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}


/* MODIFICATION PAGE STYLING */
.modification-content {
    display: flex;
    padding-top: 10%;
}

.modification-content>p {
    margin: 0 15%;
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}