body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Montserrat regular */
@font-face {
    font-family: "MontserratRegular";
    src: url("./fonts/montserrat-regular-webfont.eot");
    src: url("./fonts/montserrat-regular-webfont.woff") format("woff"),
    url("./fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-regular-webfont.svg") format("svg");
}

/* Montserrat semi-bold */
@font-face {
    font-family: "MontserratSemiBold";
    src: url("./fonts/montserrat-semibold-webfont.eot");
    src: url("./fonts/montserrat-semibold-webfont.woff") format("woff"),
    url("./fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-semibold-webfont.svg") format("svg");
}

/* Montserrat bold */
@font-face {
    font-family: "MontserratBold";
    src: url("./fonts/montserrat-bold-webfont.eot");
    src: url("./fonts/montserrat-bold-webfont.woff") format("woff"),
    url("./fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-bold-webfont.svg") format("svg");
}

.container {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.menu>ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0 .5rem 0 .5rem;
    margin: .75rem 0 0 0;
}

.menu>ul>li {
    margin-left: auto;
    margin-right: auto;
}

#header {
    flex: 0.25;
    background-color: white;
}

#title-container {
    flex: 0.25;
    background-color: white;
}

#content-container {
    flex: 4.5;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #f5cb13;
    overflow: scroll;
}

#footer-container {
    flex: 0.5;
    display: flex;
    flex-flow: row nowrap;
    orientation: fixed;
}

.icon-link {
    padding: 0.75rem;
}

.selected-vehicle-info {
    /* */
}

h1 {
    font-size: 1rem;
    text-align: center;
    margin: 0.4rem 0 0.2rem 0;
}

img#icon {
    max-width: 100%;
    height: auto;
}


/* GARAGE PAGE STYLING */
#garage-title-container {
    flex: 0.5;
}

#garage-title-container>h1 {
    font-family: "MontserratBold", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2.3rem;
    text-transform: uppercase;
}

.garage-content {
    display: flex;
    padding-top: 15%;
}

.garage-content>form {
    margin: 0 auto;
    text-align: center;
}

.garage-content>form>p {
    font-family: "MontserratRegular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}
